/saves
/banned-ips.txt
/banned-players.txt
/ForgeModLoader-0.log
/ForgeModLoader-0.log.1
/ForgeModLoader-1.log
/ForgeModLoader-1.log.1
/ForgeModLoader-2.log
/ForgeModLoader-2.log.1
/ops.txt
/Readme.md
/server.log
/server.log.1
/server.properties
/white-list.txt
